.collectionTitleP, .collectionDescriptionP {
    max-width: 450px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collectionTitleP {
    color: var(--semi-color-text-0);
}

.collectionDescriptionP {
    color: var(--semi-color-text-2);
}