/*水平垂直居中*/
.alignCenter {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

.listPagination {
    width: 100%;
    /*flex-basis: 100%;*/
    justify-content: center;
}