.searchTitleP, .searchDescriptionP {
    max-width: 350px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchTitleP {
    color: var(--semi-color-text-0);
}

.searchDescriptionP {
    color: var(--semi-color-text-2);
}

.searchPagination {
    width: 100%;
    /*flex-basis: 100%;*/
    justify-content: center;
}