.searchTitleP, .searchDescriptionP {
    max-width: 390px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchTitleP {
    color: var(--semi-color-text-0);
}

.searchDescriptionP {
    color: var(--semi-color-text-2);
}